/* global */
* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

body {
    background-color: #fffcfb;
}

.gj-icon {
    color: #5f4f4f;
}

.fa {
    color: #5f4f4f;
}

/* buku on card */
.produk {
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.buku {
    width: 95%;
    height: 200px;
    background-size: cover;
    border-radius: 15px;
}

.mobile .buku {
    height: 140px;
    background-size: cover;
    border-radius: 15px;
}

.wishlist .buku {
    height: 120px;
    background-size: cover;
    border-radius: 15px;
}

.judul {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.mobile .judul {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.wishlist .judul {
    font-size: 13px;
    font-weight: 700;
    line-height: 120%;
}

.penulis {
    font-size: 14px;
    font-weight: 600;
}

.mobile .penulis {
    font-size: 12px;
}

.wishlist .penulis {
    font-size: 11px;
}

.harga {
    font-size: 18px;
    font-weight: 700;
}

.mobile .harga {
    font-size: 12px;
}

.wishlist .harga {
    font-size: 12px;
}

.deskripsi {
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    text-align: justify;
}

.mobile .deskripsi {
    font-size:  12px;
}

.wishlist .deskripsi {
    font-size:  10px;
}

.addCart button{
    font-size: 14px;
}

.mobile .addCart button{
    font-size: 10px;
}

.wishlist .addCart button{
    font-size: 10px;
}

/* separator */
.garis {
    border: 2px solid #5F4F4F;
}

/* oolor */
.darkText {
    color: #5f4f4f !important;
}

.lightText {
    color: #fff2e4 !important;
}

.darkBg {
    background-color: #5f4f4f !important;
}

.inputField-light {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 2px 5px -3px;
}

.inputField-light:focus {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 6px -3px;
}

/* index.html */
    /* navbar */
.navbar {
    background-color: #fff8f0;
}
    /* searchbar */
.searchbar {
    position: relative;
    width: 500px;
    height: 100%;
}

.searchbar input {
    text-indent: 42px;
}

.searchbar .fa-search {
    position: absolute;
    left: 14px;
}

/* carousel */
.carousel-indicators {
    top: 101%;
}

.mobile .carousel-indicators {
    top: 105%;
}

.carousel-indicators button {
    border: 3px solid #5f4f4f !important;
}

.mobile .carousel-indicators button {
    border: 1px solid #5f4f4f !important;
}

.carousel-indicators .active {
    background-color: #5f4f4f;
}

.roundedCarousel {
    border-radius: 20px;
}

/* pagination */
/* pagination position styling */

/* pagination styling */
.pagination_section a {
    font-size: 16px;
    color: #5f4f4f;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 40px;
    margin-right: 5px;
}

.mobile .pagination_section a {
    font-size: 12px;
    padding: 8px 14px;
}
 
/* pagination hover effect on non-active */
.pagination_section a:hover:not(.active) {
    background-color: #5f4f4f;
    color: white;
}

.pagination_section a .active {
    background-color: #5f4f4f;
    color: white;
    font-weight: 700;
}

.pagination_section a:nth-child(1) {
    background-color: #5f4f4f;
    color: white;
    font-weight: 700;
}

.pagination_section a i:hover {
    color: white !important;
}

.footer {
    background-color: #fff8f0;
}

.footer .link a {
    color: #5f4f4f;
}

/* pesanan.html */
option .selected {
    color: #5f4f4f;
}