/* global */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fffcfb;
}

.gj-icon {
    color: #5f4f4f;
}

.fa {
    color: #5f4f4f;
}

/* oolor */
.darkText {
    color: #5f4f4f !important;
}

.lightText {
    color: #fff2e4 !important;
}

.darkBg {
    background-color: #5f4f4f !important;
}

.inputField-light {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 2px 5px -3px;
}

.inputField-light:focus {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 6px -3px;
}

/* index.html */
    /* navbar */
.navbar {
    background-color: #fff8f0;
}
    /* searchbar */
.searchbar {
    position: relative;
    width: 500px;
    height: 100%;
}

.searchbar input {
    text-indent: 42px;
}

.searchbar .fa-search {
    position: absolute;
    left: 14px;
}

/* carousel */
.carousel-indicators {
    top: 101%;
}

.carousel-indicators button {
    border: 3px solid #5f4f4f !important;
}

.carousel-indicators .active {
    background-color: #5f4f4f;
}

.roundedCarousel {
    border-radius: 20px;
}
